<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions for core functionality -->
    <!-- Allows the app to connect to the internet to upload audio chunks. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Required to record audio from the microphone. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Allows the app to check for network connectivity status (online/offline). -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <!-- Permissions for robust interruption handling -->
    <!-- Allows the app to detect incoming phone calls to pause/resume recording. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- Prevents the device from sleeping during a long recording session. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Required to run a service in the foreground, essential for keeping the recording alive when the app is minimized or the screen is off. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- For Android 14 (API 34) and above, you must specify the type of foreground service. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />


    <application
        android:label="Stream Script"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
